name: Planetum Monitor Scheduler

on:
  schedule:
    # Spust칤 se ka쬯ou hodinu v 15 minut po cel칠 hodin캩 (캜as je UTC)
    - cron: '15 * * * *' 
  workflow_dispatch: # Povol칤 ru캜n칤 spu코t캩n칤 p콏es rozhran칤 GitHubu

jobs:
  run_scraper:
    # Pou쬴jeme stabiln칤 Linuxov칳 server pro spu코t캩n칤
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies and Chromium
        # Instalace headless prohl칤쬰캜e Chromium a v코ech Python knihoven.
        run: |
          echo "Instaluji Chromium a Python knihovny..."
          # Aktualizace syst칠mu a instalace Chromium a jeho z치vislost칤
          sudo apt-get update
          sudo apt-get install -y chromium-browser
          # Instalace Selenium a dal코칤ch
          pip install selenium requests beautifulsoup4

      - name: Run Python script 游
        # P콏ed치n칤 citliv칳ch Secrets do prom캩nn칳ch prost콏ed칤 Pythonu
        env:
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
        run: |
          echo "Spou코t칤m Python skript..."
          # Zde je kl칤캜ov치 shoda n치zvu souboru!
          python planetum_kontrola_gmail_pythonanywhere.py 
          echo "Skript dokon캜en."
