name: Selenium testy na Ubuntu

# on:
 # schedule:
 #   - cron: '5 0 * * *'   # Spuštění každý den o 0:5
 #   - cron: '5 12 * * *'   # Spuštění každý den o 12:05
 #   - cron: '55 19 * * *'   # Spuštění každý den o půlnoci
 # workflow_dispatch:      # Umožňuje ruční spuštění workflow

jobs:
  selenium_tests:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies including Chromium, ChromeDriver, and Python packages
      run: |
        sudo apt-get update
        sudo apt-get install -y libxss1 libappindicator1 libindicator7 build-essential chromium-browser chromium-chromedriver
        pip install selenium requests beautifulsoup4 webdriver-manager

    - name: Verify Chromium version
      run: chromium-browser --version

    - name: Verify ChromeDriver version
      run: chromedriver --version

    - name: Check current directory and files
      run: |
        pwd
        ls -la  # Vypíše obsah kořenového adresáře

    - name: Run Selenium test script
      env:
        GMAIL_USER: ${{ secrets.GMAIL_USER }}
        GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
      run: |
        python .github/workflows/planetum_kontrola_gmail_pythonanywhere.py
